{% load wagtailimages_tags %}


<div class="container">
  <h1>{{self.title}}</h1>
{% for card in self.cards %}
    {%image card.Image fill-300x200 as img  %}
    <div class="card d-inline" style="width: 18rem;">
        <img src="{{ img.url}}" class="card-img-top" alt="{{ img.alt }}">
        <div class="card-body"> 
          <h5 class="card-title">{{ card.title }}</h5>
          <p class="card-text">{{ card.text }}</p>
          <a href="{{ card.button_url }}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>



{% endfor %}
