<!-- educator form section start -->
<section class="educator-form pb-130">
    <div class="container site-container">
      <div class="row">
        <div class="col-12">
          <div class="e-form text-center">
            <h2>Register Now!</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  
            <form class="educator-form">
              <div class="row">
    <div class="col-12">
      <label for="exampleInputEmail1" class="form-label">First Name</label>
      <input type="text" class="form-control" placeholder="" aria-label="First name">
    </div>
    <div class="col-12">
      <label for="exampleInputEmail1" class="form-label">Last Name</label>
      <input type="text" class="form-control" placeholder="" aria-label="Last name">
    </div>
    <div class="col-12">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="text" class="form-control" placeholder="" aria-label="Last name">
    </div>
    <div class="col-12">
      <label for="exampleInputEmail1" class="form-label">Name of your school<i>(Middle School or High School)</i></label>
      <input type="text" class="form-control" placeholder="" aria-label="Last name">
    </div>
  
    <div class="col-md-6 radio-div">
      <label for="exampleInputEmail1" class="form-label">Are you a:</label>
      <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioDefault1">
      Teacher
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
    <label class="form-check-label" for="flexRadioDefault2">
     Principal or vice principal
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
    <label class="form-check-label" for="flexRadioDefault2">
     Guidance Counsellor
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
    <label class="form-check-label" for="flexRadioDefault2">
     PTA representative
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
    <label class="form-check-label" for="flexRadioDefault2">
     Other: eg- youth organization representative/participant
    </label>
  <input type="text" class="form-control mt-3 other-option-field mobile" placeholder="" aria-label="Last name"> 
  
  </div>
  
    </div>
    <div class="col-md-6">
      <div class="radio-side-input">
     <label class="form-check-label" for="flexRadioDefault2">
     Grade Level
    </label>
  <input type="text" class="form-control mt-3" placeholder="" aria-label="Last name"> 
    </div>
  </div>
  <input type="text" class="form-control mt-3 other-option-field desktop" placeholder="" aria-label="Last name"> 
  
   <div class="col-12">
    <p class="form-note">Note: Upon registration, all exciting project assignments will be sent to you via 
  email complete with simple tutorials with the mosteffective methods of 
  accomplishing each project. These projects are sent every _______ 
    </p>
  </div>
  <div class="col-12">
    <input type="submit" value="SUBMIT">
    </div>
  </div>
            </form>
          </div>
      </div>
    </div>
  </div>
  </section>
  