<!-- educator form section start -->
<section class="educator-form pb-130">
    <div class="container site-container">
      <div class="row">
        <div class="col-12">
          <div class="e-form text-center">
            <h2>Register Now!</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
  
            <form method="POST" action={% url 'registerform' %} class="educator-form">
              {% csrf_token %}
              <div class="row">
    <div class="col-12">
      <label for="exampleInputEmail1" class="form-label">First Name</label>
      <input type="text" class="form-control" placeholder="" name="first_name" aria-label="First name">
    </div>
    <div class="col-12">
      <label for="exampleInputEmail1" class="form-label">Last Name</label>
      <input type="text" class="form-control" placeholder="" aria-label="Last name" name="last_name">
    </div>
    <div class="col-12">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="text" class="form-control" placeholder="" aria-label="Last name" name="email_address">
    </div>
    <div class="col-12">
      <label for="exampleInputEmail1" class="form-label">Name of your school<i>(Middle School or High School)</i></label>
      <input type="text" name="name_of_urschool" class="form-control" placeholder="" aria-label="Last name">
    </div>
    <div class="col-12">
      <label for="exampleInputEmail1" class="form-label">Grade Level</i></label>
      <input type="text" name="grade_level" class="form-control" placeholder="" aria-label="Last name">
    </div>
    <div class="col-12">
      <label for="exampleInputEmail1" class="form-label">State/Province</i></label>
      <input type="text" name="state_province" class="form-control" placeholder="" aria-label="Last name">
    </div>
     <div class="col-12 radio-div">
      <label for="exampleInputEmail1" class="form-label">Are you registering as:</label>
      <div class="form-check">
    <input class="form-check-input" type="radio" value="1" name="flexRadioDefault" id="flexRadioDefault1">
    <label class="form-check-label" for="flexRadioefault1">
      An Individual ____
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio"  value="2" name="flexRadioDefault" id="flexRadioDefault2">
    <label class="form-check-label" for="flexRadioDefault2">
    As a Team or Student Club Leader- ___ Form a team of at
  least 4 other members and you receive credit for your own
  points plus the accumulated points of your Team Members
  
    </label>
  </div>
  
  <div class="form-check">
    <input class="form-check-input" type="radio" value="3" name="flexRadioDefault" id="flexRadioDefault3">
    <label class="form-check-label" for="flexRadioDefault2">
    As a Challenge Leader ____ This is the competitive level
  where you compete against other Team Leaders from across
  the U.S. and Canada for a chance to win the $5000.00 college
  scholarship
    </label>
  </div>
  
  
   <div class="col-12">
    <p class="form-note">Note: Upon registration, all exciting project assignments will be sent to you via 
  email complete with simple tutorials with the mosteffective methods of 
  accomplishing each project. These projects are sent every _______ 
    </p>
  </div> 
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Submit</button>
    {% comment %} <input type="submit" value="SUBMIT"> {% endcomment %}
    </div>
  </div>
            </form>
          </div>
      </div>
    </div>
  </div>
  </section>
  
      <!-- educator form section end -->
  