{% load wagtailimages_tags %}
{% load static %}
{% load menus_tags %}
{% petition_count as count %}
{% comment %} <div class="container site-container">
    <div class="row">
    {% for i in self.vertical %}
    <div class="col-md-7 col-lg-8">
        <div class="sign-image">
        {%image i.Image fill-300x200  as img  %}
      <img src="{{img.url}}" class="img-fluid">
    </div>
    <div class="sign-cont">
      <p>
    {{i.text}}
    
    </p>
      </div>
    </div>
{% endfor %}

        </div>
    </div> {% endcomment %}


    <section class="sign-share-section pb-50">
        <div class="container site-container">
          <div class="row">
            {% for i in self.vertical %}
                <div class="col-md-7 col-lg-8">
                <div class="sign-image">
                {%image i.Image fill-300x200  as img  %}
                <img src="{{img.url}}" class="img-fluid">
                </div>
                <div class="sign-cont">
                <p>{{i.text}}
                </p>
                </div>
                </div>
           {% endfor %}
              <div class="col-md-5 col-lg-4">
      <div class="range-content">
        <h5>{{count}} have signed. Let’s get to 
      500,000!</h5>
      <input type="range" value="{{count}}" min="0" max="500000"  step="1" class="progress mb-3 w-100">
      <p>At <b>500,000 signatures</b> , this petition 
      becomes one of the <b>top signed on 
      Youth4Animals.org</b></p>
      <div class="sign-time-box d-flex mb-5">
        <div class="user-img"><img src="{% static 'images/user-icon.png' %}" clas="img-fluid"></div>
         <div class="user-name">
           <h4>Laura van der Horst </h4>
           <p>signed 23 hours ago</p>
         </div>
        </div>
      </div>
      <div class="sign-form">
        <h3>Sign this petition</h3>
        <form method="POST" action={% url 'signandshre' %} class="educator-form">
            {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" name="first_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
            
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Last Name</label>
            <input type="text" name="last_name" class="form-control" id="exampleInputPassword1" >
          </div>
        
        <div class="form-group">
            <label for="exampleInputPassword1">Email Address</label>
            <input type="email" name="email_address" class="form-control" id="exampleInputPassword1" >
          </div>
        
          <div class="form-group">
            <label for="exampleInputPassword1">State/Province</label>
            <input type="text" name="state" class="form-control" id="exampleInputPassword1" >
          </div>
          <button type="submit" class="btn ">Sign this petition</button>
      </form>
  
        </div>
              </div>
            </div>
          </div>
        </section>
      
      <!-- sign share section end -->
        