

 {% comment %} <style>
    nav.navbar.navbar-expand-lg.shadow-sm.p-3 {
        background: yellow;
    }
    
</style> {% endcomment %}
 {% load menu_tags %}


 

    {% comment %} {% main_menu max_levels=4 template="home/main_menu.html" %}  {% endcomment %}
  
  
    {% comment %} <div class="donate-button-side">
      <a href="" class="donate-button text-decoration-none">
        DONATE
      </a>
    </div> {% endcomment %}

  <!-- header end -->




  {% comment %} <div class="row">
    {% footer_menus as menus %}
    {% for menu in menus %}
      <div class="col-md-4 {% if for.counter == 0 %} offset-md-4 {% endif %}">
        <h4>{{menu.heading}}</h4>
        {% flat_menu menu.handle template="home/footer_menu.html" %}
      </div>
    {% endfor %}
  </div> {% endcomment %}
  


<style>
    nav.navbar.navbar-expand-lg.shadow-sm.p-3 {
        background: yellow;
    }
    
</style>

<header>
    <div class="logo-side">
   
      {% main_menu max_levels=4 template="home/main_menu.html" %} 
      
   
    </div>
    <div class="donate-button-side">
      <a href="" class="donate-button text-decoration-none">
        DONATE
      </a>
    </div>
  </header>
  <!-- header end -->