{% load menu_tags %}

{% load static wagtailcore_tags wagtailuserbar %} 

{% load wagtailimages_tags %}

<style>
  .logo-side .list-unstyled .dropdown-menu ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
  }
  .logo-side .list-unstyled .dropdown-menu ul li {
      list-style: none;
  }
  .logo-side .list-unstyled .dropdown-menu ul {
    padding: 10px 20px;
    margin: 0;
    background: #ffd100;
  }
  .logo-side .list-unstyled ul.dropdown-menu.show {
    padding: 0;
    border: unset;
  }
</style>
{% comment %} {% navbarlogo as logo %} {% endcomment %}

   
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >
      {% for item in menu_items %}
        {% if item.has_children_in_menu %}
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="{{ item.href }}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ item.text }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                {% sub_menu item %}
              </ul>
          </li>

        {% else %}
        <li class="nav-item {{ item.active_class }} ">
            <a class="nav-link" href="{{ item.href }}">
                {{ item.text }}
            </a>
        </li>

        {% endif %}
        {% endfor %}
    </ul>



       





